body {
background: url('../slike/mimo.png');
}

#div1{
    width:420px;
    height:155px;
    background-color:red;
}

#div2{
    width:420px;
    height:155px;
    background-color:white;
}

#div3{
    width:420px;
    height:155px;
    background-color:blue;
}

#myCanvas{width:480px;
}